target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

application-local.yml
application-secret.yml
.env
